# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
contracts/mainnet.toml
contracts/devnet.toml
contracts/settings/mainnet.toml
contracts/settings/devnet.toml
contracts/settings/simnet.toml
contracts/settings/testnet.toml

# interaction scripts and wallet data
contracts/interact.js
contracts/resume.js
contracts/interaction-wallets.json
contracts/deploy-tx-storage.js